@use "../theme.scss";

.chevron {
  font-size: 2rem;
  background-color: theme.$hi-med;
  border-radius: 0.3rem;
  transition: background 0.3s ease;
  &:hover {
    background-color: theme.$hi-high;
  }
}

