@use "../theme.scss";

.desktop {
  border-radius: 1rem;
  &--occupied {
    background-color: theme.$base02;
    min-height: 1.5rem;
  }
  &--current {
    background-color: theme.$base0C;
    min-height: 2rem;
  }
  &--unoccupied {
    background-color: theme.$base01;
    min-height: 1rem;
    min-width: 1rem;
    border-radius: 100%;
    &.desktop--current {
      background-color: theme.$base0C;
    }
  }
}
