@use "../theme.scss";

.bar-left {
  // border-radius: 0px 1.6rem 1.6rem 0px;
}

.bar-left > box {
  border-radius: inherit;
  padding: 3em .5rem 3em .5rem;
  background-color: theme.$base00;
  color: theme.$base07;
}
